.skill img{
    width: 100px;
}
.skill .skill-content{
    display: flex;flex-wrap: wrap;justify-content: center;
    padding-bottom: 15px;margin: 15px;
}
.skill .skill-content .row{
    padding: 15px 40px;margin: 10px;box-shadow: 0 0 20px rgba(48,46,77,0.15);border-radius: 10px;
    transition: .4s;
}
.skill .skill-content .row:hover{
    scale: 1.05;
}
.skill .skill-content .skill-item{
    display: flex;justify-content: center;flex-direction: column;align-items: center;
    padding: 15px 40px;transition: .4s;
}
.skill .skill-content .skill-item:hover{
    scale: 1.06;
}
.skill .skill-content .skill-item .skill-name{
    font-size:18px ;font-weight: 500;margin-top: 10px;
}
@media (max-width:768px) {
    .skill img{
        width: 80px;
    }
    .skill .skill-content{
        padding-bottom: 10px;margin: 10px;
    }
    .skill .skill-content .row{
        padding: 10px 30px;margin: 10px;
    }
    .skill .skill-content .skill-item .skill-name{
        font-size:16px ;font-weight: 500;margin-top: 10px;
    }
}
@media (max-width:450px) {
    .skill img{
        width: 50px;
    }
    .skill .skill-content{
        padding-bottom: 10px;margin: 0;
    }
    .skill .skill-content .row{
        padding: 10px 20px;margin: 5px;
    }
    .skill .skill-content .skill-item .skill-name{
        font-size:14px ;font-weight: 500;margin-top: 10px;
    }
    .skill .skill-content .skill-item{
        width: 100px;
    }
    .section-title h4{
        font-size: 16px;
    }
}
